kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 32427
        hostPort: 32427
        protocol: TCP
  - role: worker
  - role: worker
